BODY
{
    FONT-SIZE: 10pt;
    OVERFLOW: auto;
    COLOR: black;
    FONT-FAMILY: Tahoma, Arial;
    SCROLLBAR-BASE-COLOR: #e3e3e3
}
TD
{
    FONT-SIZE: 10pt;
    OVERFLOW: auto;
    COLOR: black;
    FONT-FAMILY: Tahoma, Arial;
    TEXT-DECORATION: none
}
INPUT
{
    PADDING-LEFT: 3px;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}
SELECT
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}

LABEL
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
TEXTAREA
{
    PADDING-LEFT: 3px;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}
A
{
    COLOR: navy
}
.Font
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}
.SubBanner
{
    BORDER-RIGHT: #dddad6 1px;
    BORDER-TOP: #dddad6 1px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #dddad6 1px;
    COLOR: navy;
    BORDER-BOTTOM: #dddad6 1px;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: gainsboro;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
.SubBannerTitle
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: default;
    COLOR: navy;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}
.SubBannerLink
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    COLOR: navy;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: underline
}
BUTTON
{
    BORDER-RIGHT: #4d4a46 1px solid;
    BORDER-TOP: #4d4a46 1px solid;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #4d4a46 1px solid;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #4d4a46 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #eeeeee
}
.Button
{
    WIDTH: 75px
}
.BannerLink
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: white;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: royalblue;
    TEXT-DECORATION: underline
}
.Banner
{
    BACKGROUND-COLOR: royalblue
}
.BannerTitle
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 4px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    CURSOR: default;
    COLOR: white;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}
.GridCell2
{
    CLEAR: both;
    BORDER-RIGHT: #f5deb3 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: white 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    FLOAT: none;
    BORDER-LEFT: white 1px solid;
    CURSOR: default;
    COLOR: black;
    BORDER-BOTTOM: #f5deb3 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: cornsilk;
    TEXT-DECORATION: none
}
.GridCol
{
    BORDER-RIGHT: #00ced1 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #00ced1 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    BORDER-LEFT: powderblue 1px solid;
    CURSOR: default;
    COLOR: black;
    BORDER-BOTTOM: #00ced1 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: lightblue;
    TEXT-DECORATION: none
}

.GridCol_First
{
    BORDER-RIGHT: #00ced1 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #00ced1 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #00ced1 1px solid;
    CURSOR: default;
    COLOR: black;
    BORDER-BOTTOM: #00ced1 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: lightblue;
    TEXT-DECORATION: none
}
.GridCol_Last
{
    BORDER-RIGHT: #b0e0e6 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #00ced1 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #b0e0e6 1px solid;
    CURSOR: default;
    COLOR: black;
    BORDER-BOTTOM: #00ced1 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: lightblue;
    TEXT-DECORATION: none
}
IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    BORDER-BOTTOM: medium none
}

.ReadOnly
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    CURSOR: default;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #eeeeee;
    TEXT-DECORATION: none
}
.Grid
{
    BORDER-RIGHT: navy 1px solid;
    BORDER-TOP: navy 1px solid;
    BORDER-LEFT: navy 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: navy 1px solid;
    SCROLLBAR-BASE-COLOR: #e3e3e3
}

.VHBanner
{
    CLEAR: both;
    BORDER-RIGHT: #f5deb3 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: white 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: x-large;
    FLOAT: none;
    BORDER-LEFT: white 1px solid;
    CURSOR: default;
    COLOR: white;
    BORDER-BOTTOM: #f5deb3 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: darkblue;
    TEXT-DECORATION: none
}
.lnk-footer
{
    COLOR: #456f87;
    TEXT-DECORATION: none
}
.Selected
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    BACKGROUND-COLOR: lightsteelblue
}
TABLE.panel
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BORDER-LEFT: 0px;
    WIDTH: 100%;
    COLOR: #fff;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-COLLAPSE: collapse;
    BACKGROUND-COLOR: #fffdd4;
    TEXT-ALIGN: center;
    border-spacing: 0px
}
TABLE.panel TD
{
    BORDER-RIGHT: #ff8242 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #ff8242 1px solid;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #ff8242 1px solid;
    COLOR: #000;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ff8242 1px solid;
    BACKGROUND-COLOR: paleturquoise;
    TEXT-ALIGN: left
}
TABLE.panel TD.head
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 1px;
    COLOR: #fff;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #ff4500;
    TEXT-ALIGN: center
}
H1
{
    FONT-SIZE: larger
}
.tpl_content_title
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    PADDING-BOTTOM: 5px;
    WIDTH: 90%;
    COLOR: white;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana
}
.tpl_content_subtitle
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 5px;
    WIDTH: 90%;
    COLOR: yellow;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana
}
.bbar_outer
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
.bbar_cell
{
    BORDER-RIGHT: white 1px solid;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #0a6cce
}
.bbar_cell_hot
{
    BORDER-RIGHT: white 1px solid;
    FONT-SIZE: smaller;
    CURSOR: hand;
    BACKGROUND-COLOR: #004080
}
.bbar_cell A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_cell A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_cell A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_cell A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_cell A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_cell_hot A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_cell_hot A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_cell_hot A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_cell_hot A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_cell_hot A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_dobty
{
    FONT-SIZE: smaller;
    COLOR: yellow;
    BACKGROUND-COLOR: navy
}
.bbar_dobty A
{
    FONT-SIZE: smaller;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_dobty A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: smaller;
    COLOR: yellow;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_dobty A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: smaller;
    COLOR: yellow;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_dobty A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: smaller;
    COLOR: yellow;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}
.bbar_dobty A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: smaller;
    COLOR: yellow;
    FONT-FAMILY: Verdana, Arial,Helvetica;
    TEXT-DECORATION: none
}

